*{
     padding: 0;
     margin: 0;
      
     background: transparent;
}
nav{
     display: flex;
     justify-content:space-around;
     align-items: center;
     width: 80vw;
     margin: auto;
     height: 70px;
     
     
}
select {
  padding: 5px 24px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 5;
   
}

nav img{
     z-index: 20;
     /* color: red; */
     width: 160px;
     position: relative;
     top: 12px;
     right: 150px;;
}
.para{
     font-family: Netflix Sans, Helvetica Neue, Segoe UI, Roboto, Ubuntu, sans-serif;
     color: rgb(255, 255, 255);
     display: flex;
     /* height: 100%; */
     height: calc(100% - 70px);
     justify-content: center;
     align-items: center;
    
     flex-direction: column;
      
     filter: brightness(1);
     gap: 15px;
     /* padding: 23px; */
      text-align: center;
     
}
.para>:first-child{
     font-size: 48px;
     font-weight: 900;
}
.para> :nth-child(2){
     font-size:24px ;
     font-weight: 400;
}
.para> :nth-child(3){
     font-size:0.9rem;
     font-weight: 400;
}
 

.main{
    background-image: url("assets/images/img.jpg");
     background-position: center center ;
     background-size: max(1100px, 100vw);
     background-repeat: no-repeat;
     height: 75vh;
     position: relative;
     
}

.main .box{
     height: 75vh;
     width: 100%;
     background-color: rgb(0, 0, 0);
     opacity: 0.65;
     position: absolute ;
     top: 0;
     

}
.separation{
     background-color: gray;
     height: 3px;
}
.btn{
     padding: 3px 9px;
     background-color: rgb(107, 104, 104);
     font-weight: bold;
     position: relative;
     z-index: 5;
     border: 1px solid grey;
}
.btn-red{
     background-color: red;
     color: white;
     padding: 10px 24px;
     font-size: 20px;
     border-radius: 4px;
     cursor: pointer;
}
.btn-red:hover{
     background-color: rgb(210, 64, 64);
     
}
.btn-sign{
     background-color: red;
     color: white;
     font-weight: 500;
     font-family:Arial, Helvetica, sans-serif;
     border-radius: 4px  ;
}
.right-buttons {
  display: flex;
  gap: 10px; /* spacing between select and button */
  align-items: center;
}

 
.main input{
padding: 10px 44px;
     font-size: 14px;
     text-align: start;
     border-radius: 4px;
     background-color: rgba(23, 23, 23, 0.2);
}
.main select{
     background-color: rgba(23, 23, 23, 0.2);
     color: white;
}

.first {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    justify-content: center;
    align-items: center;
}



.secImg {
    position: relative;
}

.secImg img {
    width: 555px;
    position: relative;
    z-index: 10;
}
.secImg video {
    position: absolute;
    top: 51px;
    right: 0;
    width: 555px;
}